.container {
    width: 810px;
    margin: 0 auto;
}

.header {
    height: 120px;
    border: 1px solid black;
    background-color: aqua;
}

.aside {
    float: left;
    height: 150px;
    border: 1px solid black;
    background-color: green;
    width: 200px;
    opacity: 0.5;
}

.main {
    height: 150px;
    border: 1px solid black;
    background-color: brown;
    width: 400px;
    float: right;
}

.footer {
    height: 120px;
    border: 1px solid black;
    background-color: lightblue;
    clear: both;
}