.container {
    width: 800px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

div[class^="box"] {
    width: 60px;
    height: 60px;
    background-color: lightblue;
    margin: 5px;
    text-align: center;
    line-height: 60px;
}

.box, .box2, .box2, .box3, .box4, .box5 {
    flex:1;
}

.box6 {
    flex: 2;
}

.box3 {
    flex: initial;
}