body {
    background-color: lightgray;
}

/*containers*/
.container {
    border: 1px solid black;
    width: 80%;
}

.container-fluid {
    border: 1px solid black;
    width: 90%;
}

.aueb-text {
    color: antiquewhite;
    font-size: 1.2rem;
    font-weight: 400;
}

/* background colors */
.bg-dark {
    background-color: black;
}

.bg-primary {
    background-color: blue;
}

/*text styling*/
.text-white {
    color: white;
}

/*image styling*/
.icon-small {
    width: 150px;
    height: auto;
}

/*list styling*/
.courses-wrapper > :first-child {
    color: red;
    font-weight: bold;
}

.courses-wrapper > :last-child {
    color: orange;
}

/*nth-of-type*/
.courses-list > li:nth-child(odd) {
    color: red;
}

.courses-list > li:nth-child(even) {
    color: white;
}