.container {
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
}

.nav {
    display: inline-block;
    vertical-align: middle;
}

.aueb-img {
    width: 400px;
    height: auto;
    vertical-align: middle;
}

.nav li {
    display: inline-block;
    margin-right: 20px;
}

.nav li:first-child {
    margin-left:25px;
}

.nav a {
    text-decoration: none;
    background-color: aqua;
    padding: 15px 5px;
    font-size: 1.2rem;
    color: black;
}

.nav a:hover {
    color: green;
}

.mt-5 {
    margin-top: 5px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:first-child {
    margin-left:25px;
}

nav a {
    text-decoration: none;
    background-color: aqua;
    padding: 15px 5px;
    font-size: 1.2rem;
    color: black;
}

nav a:hover {
    color: green;
}